<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leisure Time</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ce4d4bea40.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a href="{{ url_for('main.index') }}" class="navbar-brand">
                LeisureTime
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    {% if data %}
                    <a href="{{ url_for('main.landing') }}" class="nav-item nav-link">Home</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Activities
                            </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('main.view_all', activity='books') }}">Books</a>
                            <a class="dropdown-item" href="{{ url_for('main.view_all', activity='movies') }}">Movies</a>
                            <a class="dropdown-item disabled" href="#">Music</a>
                        </div>
                    </li>
                    <a href="#footer" class="nav-item nav-link">Contact Us</a>
                    {% else %}
                    <a href="{{ url_for('main.index') }}#" class="nav-item nav-link">Home</a>
                    <a href="{{ url_for('main.index') }}#leisure-items-section" class="nav-item nav-link">Activities</a> 
                    <a href="#footer" class="nav-item nav-link">Contact Us</a>
                    {% endif %}
                </div>
                <div class="navbar-nav ml-auto">
                    {% if data %}
                    <a href="{{ url_for('main.profile') }}" class="nav-item nav-link">
                            Profile
                        </a>
                    <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link">
                            Logout
                        </a> {% else %}
                    <a href="{{ url_for('auth.login_page') }}" class="nav-item nav-link">
                            Login
                        </a>
                    <a href="{{ url_for('auth.signup_page') }}" class="nav-item nav-link">
                            Register
                        </a> {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div id="content">
        {% block content %} {% endblock %}
    </div>

    <!-- Site footer -->
    <footer class="site-footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">leisuretime.com <i> RELAX REFRESH RECHARGE </i> is a INFS3208 - Cloud Computing Project at The University of Queensland, St. Lucia. Developed by Vincentius Aditya Sundjaja (s4561009). This is a type 1 project, which is a web-based
                        application that adopts the cloud technology.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Tech Stack</h6>
                    <ul class="footer-links">
                        <li><a href="">Python - Flask</a></li>
                        <li><a href="">HTML - CSS - JavaScript</a></li>
                        <li><a href="">Docker</a></li>
                        <li><a href="">Nginx</a></li>
                        <li><a href="">Gunicorn</a></li>
                        <li><a href="">Postgres</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Contribute</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                        <a href="#">LeisureTime</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>