{% extends "base.html" %} {% block content %} {% if title == "MOVIES" %}
<script src="{{ url_for('static', filename='js/view-all-movie.js') }}"></script>
{% elif title == "BOOKS" %}
<script src="{{ url_for('static', filename='js/view-all-books.js') }}"></script>
{% endif %}
<section id="view-all-section">
    <h1 id="view-all-title">{{title}}</h1>
    <div>
        <form id="search-form">
            <h3>Find a {{title.lower().capitalize()[0:-1]}}</h3>
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        </form>
    </div>
    <div class="container-fluid mt-4 p-4">
        {% if title == "MOVIES" %}
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link">Next</a>
            <a id="previous" class="btn page-link" tabindex="-1">Previous</a>
        </div>
        <div id="movie-content" class="row d-flex justify-content-center"></div>
        <div class="next-prev-tabs">
            <a id="next" class="btn page-link ">Next</a>
            <a id="previous" class="btn page-link " tabindex="-1 ">Previous</a>
        </div>
        {% elif title == "BOOKS" %}
        <div id="book-content" class="row d-flex justify-content-center">
            <table id="book-content-table" class="table table-striped book-content-table">
                <tbody id="book-content-body">
                    {% for book in books %}
                    <tr>
                        <td class="book-cover-td">
                            <img class="img-cover-small" src="{{book['img']}}">
                        </td>
                        <td>
                            <div class="book-description">
                                <a href="{{book['href']}}" , target="_blank" style="color:black;">
                                    <p class="title ">{{book['title']}}
                                        <span class="author ">by {{book['author']}}</span>
                                    </p>
                                </a>
                                <div id="ratingElem-{{book['book_id']}}" class="book-rating-table">
                                    {{book['ratingElem']}}
                                </div>
                            </div>
                        </td>
                        <td>
                            {% if book['saved'] == 1 %}
                            <button id="save-book-btn-{{book['book_id']}}" class="save-book-btn saved">
                                <span>BOOK SAVED</span>
                            </button> {% else %}
                            <button id="save-book-btn-{{book['book_id']}}" class="save-book-btn">
                                <span>SAVE BOOK</span>
                            </button> {% endif %}
                        </td>
                        <input type="hidden" id="book_id-{{book['book_id']}}" value="{{book['book_id']}}">
                        <input type="hidden" id="img-{{book['book_id']}}" value="{{book['img']}}">
                        <input type="hidden" id="img_small-{{book['book_id']}}" value="{{book['img_small']}}">
                        <input type="hidden" id="title-{{book['book_id']}}" value="{{book['title']}}">
                        <input type="hidden" id="href-{{book['book_id']}}" value="{{book['href']}}">
                        <input type="hidden" id="author-{{book['book_id']}}" value="{{book['author']}}">
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="modal-loading">
    </div>
</section>
{% endblock %}